@import "tailwindcss";

:root{
    font-family: 'Times New Roman', Times, serif;
}


body{
 background:url(../src/pictures/27948175156_c7b2367d07_o.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
}

#card{
    background-color: rgb(215, 239, 240);
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
}
#cardImg{
    width: 100%;
    padding: 4%;
}
#myGrid{
    margin: 7%;
    padding: 2%;
    background-color: rgba(95, 158, 160, 0.634);
    border-radius: 4px;
}
.search{
    width: 100%;
    padding: 35%;
    padding-top: 30px;
    padding-bottom: 0%;
}
#searchBar{
    display: flex;
    background-color: rgba(95, 158, 160, 0.634);
    text-align: center;
    border-radius: 4px;
    color: white;
    font-size: 2rem;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#searchBar:hover{
    background-color: rgba(155, 188, 189, 0.934);
    transform: scale(1.03);
    transition: ease-in-out 0.5s;
}